* {
    font-family: 'Lato', sans-serif;
}

.button-container {
    height: 50px;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.content-container {
    width: 1100px;
    margin: auto;
    padding: 10px;
}

.col-1of9 {
    width: 10%;
    height: 100%;
    flex-grow: 1;
    padding: 0 5px 0 3px;
    margin: 0 5px;
    background:#ccf2ff;
    transition:all 0.3s ease;
    z-index: 999;
    box-shadow: 6px 6px #88888875
}

.col-active {
    background-color: #95cfe2;
    margin-top: 5px;
    box-shadow: 7px 7px #888888fa;
}

.col-1of9:hover {
    background:#b3b3ff;
}

.col-1of9-contents-1of3 {
    width: 100%;
    height: 33%;
    text-align: center;
    pointer-events: none;
}

.col-1of9-contents-1of3:nth-child(1) {
    line-height: 50px;
}

.city-headline {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.city-headline div:nth-child(1) {
    text-align: right;
}

.city-headline div:nth-child(odd) {
    min-width: 300px;
    display: inline;
    font-size: 1.8em;
}

.city-headline div:nth-child(even) {
    background-color: black;
    width: 3px;
    margin: 0px 25px;
}

/*
.city-headline div:nth-child(1) {
    padding-right: 20px;
    margin-right: 17px;
    border-right: 3px solid black;
    text-align: right;
}
*/

.city-item-menu {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-right: 40px;
}

.city-item-menu-option {
    width: 90px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.city-item-menu-option:hover {
    background-color: gray;
}

.city-item-menu-option-active {
    font-weight: bold;
}

.city-container {
    display: flex;
}

.galleria {
    max-width: 700px;
    height: 400px;
    background: white;
}

.city-items-container {
    width: 100%;
}

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .slideshow-container {
    position: relative;
    width: 80%;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-text-stroke: 2px black;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 5px;
    color: white;
  }
  
.caption-container p {
    margin-top: 5px;
    margin-bottom: 5px;
}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }